.welcome_center {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

#success-message {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.fade-in {
    display: block;
    animation: fade-in 1s forwards;
}

.fade-out {
    animation: fade-out 1s forwards;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}