<!DOCTYPE html>
<html>
<head>
    <title>Banker App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='banker_style.css') }}">
</head>
<body>
    <a href="/">App Home</a>
    <a href="/banker">Banker Home</a>
    <a href="/banker/upload">Upload</a>
    <a href="/banker/view">View</a>
    <div class="welcome-center">Welcome to Banker v1.1</div>
    <div class="today-center">Today: {{ today }}</div>
    <div class="monthly-center">Report For Month End: {{ month_end }}</div>
    <div id="success-message"></div>
    <script>
        // check if the URL has a success parameter
        const urlParams = new URLSearchParams(window.location.search);
        const isSuccess = urlParams.get('success');
        const successMessage = document.getElementById('success-message');

        // if the parameter is present, display the success message
        if (isSuccess) {
            successMessage.innerHTML = 'File upload successful!';
            successMessage.classList.add('show');
            successMessage.classList.add('fade-in');

            // fade out the message after 3 seconds
            setTimeout(() => {
                successMessage.classList.remove('fade-in');
                successMessage.classList.add('fade-out');
            }, 3000);
        }
        else {
            successMessage.classList.add('hidden');
        }
    </script>
    <div class="month-report-text"></div>
    <div class="container">
        <div class="box">
            <img src="{{ url_for('static', filename='gas-tank-drop.svg') }}">
            <div class="text">
                <h3>Gas</h3>
                <p>{{ gas_data }}</p>
            </div>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename='cart-alt.svg') }}">
            <div class="text">
                <h3>Grocery</h3>
                <p>{{ grocery_data }}</p>
            </div>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename='shop-alt.svg') }}">
            <div class="text">
                <h3>Entertainment</h3>
                <p>{{ entertainment_data }}</p>
            </div>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename='shield-question.svg') }}">
            <div class="text">
                <h3>Other</h3>
                <p>{{ other_data }}</p>
            </div>
        </div>
    </div>
</body>
</html>